[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=cuteTube2
Exec=/usr/bin/invoker --type=d -s --splash=/opt/cutetube2/splash/splash-portrait.png --splash-landscape=/opt/cutetube2/splash/splash-landscape.png /opt/cutetube2/bin/cutetube2
Icon=/usr/share/icons/hicolor/80x80/apps/cutetube2.png
MimeType=x-maemo-highlight/youtube-video-url;x-maemo-highlight/dailymotion-video-url;x-maemo-highlight/vimeo-video-url;
X-Maemo-Service=org.marxoft.cutetube2
X-Maemo-Method=org.marxoft.cutetube2.showResource
